extends layout.pug

block main
  section
    h2 Create Ticket
    form(action="/tickets" method="POST")
      label(for="name") Title:
      input(type="text" name="name" id="name")
      label(for="text") Description:
      textarea#text(name="text")
      button.btn Create