extends layout.pug

block main
  section
    h2(class=`${ticket.status}`)=ticket.name
    .ticket-text(class=`${ticket.status}`)=ticket.text
    .buttons
      if ticket.status == "open"
        a.btn(href=`/tickets/${ticket.id}/resolve`) Mark Resolved
      a.btn.delete(href=`/tickets/${ticket.id}/delete`) Delete
