extends layout.pug

block main
    if tickets.length
      section
        h2 Tickets with Reported Bugs
        each ticket in tickets
          .tickets 
            a(href=`/tickets/${ticket.id}` class=`ticket ${ticket.status}`)=ticket.name
        .instruction
          span.open Open
          span.closed Closed
    else
      section.not
        h2 No tickets yet!
        a.btn(href="/tickets/create") Create Ticket
